
services:
  redis:
    image: redis:latest
    container_name: redis-travel
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - travel-network

  mysql:
    image: mysql:8.0.41-debian
    container_name: mysql-travel
    ports:
      - "3307:3306"
    networks:
      - travel-network
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql

  travel-backend:
    image: travel-backend:v1.0.0
    container_name: travel-backend
    depends_on:
      - mysql
      - redis
    ports:
      - "8080:8080"
    networks:
      - travel-network
    volumes:
      - .:/app
    restart: unless-stopped
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/${MYSQL_DATABASE}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - SPRING_DATASOURCE_USERNAME=root
      - SIGNER_KEY=${SIGNER_KEY}



volumes:
  mysql_data:

networks:
  travel-network:
    name: travel-network
